@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

$mainColor: #2ecc71;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Comfortaa', sans-serif;
}

section {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  text-align: center;
}

.info {
  width: 60%;
  text-align: center;
}

.ideas-cards,
.recipes-cards,
.articles-cards {
  margin: 50px 0;
}

.card {
  margin-bottom: 30px;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-shadow {
  box-shadow: 5px 5px 20px rgba(53, 110, 173, 0.2);
}

.header {
  .menu {
    padding: 20px;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);

    .logo {
      margin-right: 36%;
    }
  }
}

.page-item.active .page-link {
  background-color: $mainColor;
  border-color: $mainColor;
}

.page-link,
.page-link:hover {
  color: $mainColor;
}

.top {
  .name-brand {
    font-family: 'Dancing Script', sans-serif;
  }

  .name-logo {
    padding-left: 5px;
    font-size: 24px;
  }

  .top-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 25vh;
    padding-top: 20px;
    padding-bottom: 70px;

    &-logo {
      font-size: 5em;
      margin-bottom: 30px;
    }

    &-title {
      text-align: center;
      font-size: 24px;
    }

    &-name-brand {
      font-size: 64px;
      display: inline-block;
      margin-bottom: 20px;
    }
  }

  .carousel-content {
    right: unset;
    top: 1.25rem;
    bottom: unset;
    left: 5%;
    color: #000;
    text-align: start;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 15px;

    &-text {
      margin-bottom: 0;
    }
  }
}

.footer {
  margin-top: 100px;
  background-color: $mainColor;
  color: #fff;

  &-content {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .contacts {
      margin-top: 30px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      &-data {
        width: 200px;

        &-list {
          padding: 0;
          list-style-type: none;
        }
      }
    }

    .social-buttons {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 30px;

      .social-button {
        padding: 10px;
        transition: transform 0.2s ease-in-out;
        margin-right: 15px;
      }

      .social-button:last-child {
        margin-right: 0;
      }

      .social-button:hover {
        transform: scale(1.1);
      }
    }
  }

  .copyright {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .col {
    margin-bottom: 30px;
  }
}
