@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Comfortaa', sans-serif;
}

section {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading {
  text-align: center;
}

.info {
  width: 60%;
  text-align: center;
}

.ideas-cards,
.recipes-cards,
.articles-cards {
  margin: 50px 0;
}

.card {
  margin-bottom: 30px;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.card-shadow {
  -webkit-box-shadow: 5px 5px 20px rgba(53, 110, 173, 0.2);
          box-shadow: 5px 5px 20px rgba(53, 110, 173, 0.2);
}

.header .menu {
  padding: 20px;
  -webkit-box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
          box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
}

.header .menu .logo {
  margin-right: 36%;
}

.page-item.active .page-link {
  background-color: #2ecc71;
  border-color: #2ecc71;
}

.page-link,
.page-link:hover {
  color: #2ecc71;
}

.top .name-brand {
  font-family: 'Dancing Script', sans-serif;
}

.top .name-logo {
  padding-left: 5px;
  font-size: 24px;
}

.top .top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 25vh;
  padding-top: 20px;
  padding-bottom: 70px;
}

.top .top-content-logo {
  font-size: 5em;
  margin-bottom: 30px;
}

.top .top-content-title {
  text-align: center;
  font-size: 24px;
}

.top .top-content-name-brand {
  font-size: 64px;
  display: inline-block;
  margin-bottom: 20px;
}

.top .carousel-content {
  right: unset;
  top: 1.25rem;
  bottom: unset;
  left: 5%;
  color: #000;
  text-align: start;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 15px;
}

.top .carousel-content-text {
  margin-bottom: 0;
}

.footer {
  margin-top: 100px;
  background-color: #2ecc71;
  color: #fff;
}

.footer-content {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-content .contacts {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer-content .contacts-data {
  width: 200px;
  margin-bottom: 30px;
}

.footer-content .contacts-data-list {
  padding: 0;
  list-style-type: none;
}

.footer .copyright {
  text-align: center;
}

@media (max-width: 767px) {
  .col {
    margin-bottom: 30px;
  }
}
/*# sourceMappingURL=style.css.map */